body{
    background-color: #c5cddb;
    font-family: 'Jua', sans-serif; 
}

.cartridge{
    margin-left: 23%;
}

.columnFlex{
    display: flex;
    flex-direction: column;
    margin-left: 32%;
    margin-bottom: 50px;
    margin-top: 10%;
    border: 5px black dashed;
    width: 470px;
    padding: 2%;
    text-align: center;
}

.centerContent{
    margin-bottom: 14%;
    margin-left: 42%;
}

#line{
    font-size: 3em;
}

#imgInsert{
    position: relative;
    top: 85px;
    margin: 0 54.5%;
    margin-top: 20px;
    width: 10%;
    height: 5%;
}

#songName{
    font-family: 'Jua', sans-serif;
    font-size: 50px;
    position: relative;
    top: 230px;
    right: 10px;
    margin-left: 35%;
}

