body{
    background-color: #487fb3;
    color: #000000;
    font-family: 'Jua', sans-serif; 
    height: 1382px;
}

.cartridge{
    margin-left: 23%;
}

.columnFlex{
    position: relative;;
    bottom: 800px;
    display: flex;
    flex-direction: column;
    margin-left: 34%;
    margin-bottom: 50px;
    margin-top: 10%;
    border: 5px black dashed;
    width: 470px;
    padding: 2%;
    text-align: center;
}

.centerContent{
    margin-left: 42%;
}

#line{
    font-size: 2.5em;
}

#imgInsert{
    position: relative;
    top: 405px;
    margin: 0 54.5%;
    margin-top: 20px;
    width: 10%;
    height: 10%;
}

#gameBoy{
    z-index: -1;
    position: relative;
    top: 20px;
    right: 240px;
    
}

#songName{
    font-family: 'Jua', sans-serif;
    font-size: 50px;
    position: relative;
    top: 537px;
    right: 10px;
    margin-left: 35%;
}

